# This is a sample configuration file for buildnotify 
# The configuration file should be located at  ~/.buildnotify

[connection]

### Comma seperated list of urls
urls = file:///tmp/cctray.xml

### Timeout duration if the server is unavailable
#timeout     = 5
### Polling interval 
#interval     = 10

[misc]

### Browser which should be used to display the build information
#browser     = firefox
### Location where the icons are located.
icons     = @ICON_PREFIX@/share/buildnotify/pixmaps/

