[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pyqt5" = "*"
pytz = "*"
keyring = "*"
"keyrings.alt" = "*"
defusedxml = "*"
"notify2" = "*"
dbus-python = "*"
python-dateutil = "==2.6.1"


[dev-packages]
pytest = "*"
pytest-qt = "*"
pytest-cov = "*"
pytest-mock = "*"
mock = "*"
"flake8" = "*"
paver = "*"
twine = "*"
stdeb = "*"
