[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pyqt5" = "*"
pytz = "*"
keyring = "*"
"keyrings.alt" = "*"
defusedxml = "*"
"notify2" = "*"
dbus-python = "*"

[dev-packages]
pytest = "==3.2.1"
pytest-qt = "==2.1.2"
pytest-cov = "==2.5.1"
pytest-mock = "==1.6.2"
pytest-pylint = "==0.7.1"
python-dateutil = "==2.6.1"
mock = "==2.0.0"
"flake8" = "==3.4.1"
paver = "*"
twine = "*"
stdeb = "*"
